html, body{
    overflow: hidden;
    margin: a;
    padding: 0;
    background-color: rgb(21, 160, 202);
}
.form-container {
    max-width: 400px;
    width: 100%;
    margin: auto;
  }

  
.background {
    margin: auto;
    width: 100%;
    height: 600px;
    background-image: url('login.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: aquamarine;
    border-radius: 80%;
    animation: slideUp 2s ease-out;
    animation-fill-mode: forwards; /* Tetap di posisi akhir animasi */
 
}
.card {
    background-color: rgba(255, 255, 255, 0.5); /* Warna putih dengan transparansi 50% */
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    animation: slideUp 2s ease-out;
    animation-fill-mode: forwards;
  }
  
@keyframes slideUp {
    from {
        transform: translateY(75px); /* Mulai dari bawah */
        opacity: 0;
    }
    to {
        transform: translateY(0); /* Berada di posisi normal */
        opacity: 1;
    }
}
